.nav {
  background-color: #1f2325;
  height: 60px;
}

.nav-left {
  list-style-type: none;
  height: 60px;
}

.nav-list {
  display: inline-block;
  margin: 0;
}

.logo {
  margin: 5px 0 0 20px;
  height: 50px;
  width: 50px;
}

.logo-name {
  margin: 5px 0 0 20px;
  color: "#20b2aa";
  font-size: 40px;
}
