.grid-container {
  bottom: 0%;
  width: 100vw;
  height: 40vh;
  margin-top: 20px;
  border-top: 1px solid #706779;
}

.grid-item {
  padding: 35px;
}

.links {
  list-style: none;
}

.link:hover {
  color: #4a40b1;
  font-weight: bolder;
}

.address {
  margin-top: 20px;
}

.icons {
  display: flex;
  list-style: none;
  padding: 0;
}

#icon {
  margin: 10px 30px 0 0;
  font-size: 18px;
}

.head {
  margin: 8px 0 5px 8px;
}

.input-label {
  margin: 10px 0 2px 10px;
}

.input {
  width: 80%;
}

.send {
  background-color: #706779;
  color: #f8f8ff;
}

.send:hover {
  background-color: #f8f8ff;
  color: #706779;
}

#details {
  margin: 20px 0;
}

.contact-icon {
  margin: 0 0 10px 10px;
}

.auth-footer {
  position: fixed;
  top: 0;
  right: 0;
  width: 4%;
  height: 100vh;
  background-color: #cacad6;
  border: 1px solid #6c66af;
}

.list-item-icon {
  position: relative;
  list-style: none;
  width: 30px;
  height: 50px;
  font-size: larger;
}

.icon-item {
  margin: 0 auto;
}
