* {
  background-color: #f8f8ff;
}

.link-item {
  text-decoration: none;
}

.londrina {
  font-family: "Londrina Solid", cursive;
}

.titillium {
  font-family: "Titillium Web", sans-serif;
}

.varela {
  font-family: "Varela Round", sans-serif;
}

.heading {
  color: #4a40b1;
}

.orange-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f29000;
  color: #f8f8ff;
  font-weight: bold;
  font-size: medium;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  height: 40px;
  width: 100px;
  margin: 30px auto;
  border-radius: 20px;
  border: none;
}

.orange-btn:hover {
  background-color: #f8f8ff;
  color: #4a40b1;
  border: 2px solid #f29000;
  text-decoration: none;
}

.input {
  margin: 10px;
  border: 1px solid #706779;
}

.auth-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 70px;
  left: 16%;
  width: 84%;
  padding: 10px;
  padding-top: 30px;
}

.add-btn-link {
  position: sticky;
  top: 15px;
  width: 100%;
  z-index: 1;
  float: right;
  padding-right: 10px;
}

.add-btn {
  position: relative;
  float: right;
}

.box-head {
  position: relative;
  width: 100%;
  padding-left: 10px;
}

/* forms */

.form-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 50%;
  margin: auto;
  padding: 50px;
  background-color: rgba(248, 248, 255, 0.65);
}

.form-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(173, 216, 230, 0.3), rgb(173, 216, 230, 0.3)),
    url("./img/drawings.jpg");
  background-size: cover;
  padding: 30px;
}

.form-head {
  position: relative;
  width: 100%;
  text-align: center;
  background: transparent;
}

.form-label {
  position: relative;
  width: 80%;
  background-color: transparent;
  color: #4a40b1;
  font-size: medium;
  font-weight: 555;
  margin-top: 10px;
}

.form-input {
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(74, 64, 177, 0.3);
  padding-left: 10px;
}

.form-btn {
  height: 30px;
  background: transparent;
  border: 2px solid #4a40b1;
  background-color: #4a40b1;
  color: #f8f8ff;
  margin-top: 20px;
  border-radius: 10px;
}

.form-btn:hover {
  background: transparent;
  color: #4a40b1;
}

@media only screen and (max-width: 600px) {
  *,
  *::before,
  *::after {
    box-sizing: initial;
  }

  .form-box {
    width: 100%;
  }

  .auth-box {
    left: 0;
    margin: 0;
    width: 100%;
  }
}
