.course-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.course-form-label {
  margin: 0;
}

.course-form-input {
  border: 1px solid #706779;
  padding-left: 10px;
}

.course-form-textarea {
  padding: 0 10px;
}

.submit-form {
  height: 30px;
  margin-top: 20px;
  border: 1px solid #706779;
  background-color: #706779;
  color: #f8f8ff;
  margin-bottom: 30px;
}

.submit-form:hover {
  color: #706779;
  background-color: #f8f8ff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .course-form {
    width: 70%;
  }
}
