.features-block {
  display: inline-flex;
  padding-left: 60px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 40vw;
  padding-top: 40px;
}

.features-head {
  margin: 5px 0 5px 100px;
}

.features-list {
  list-style: none;
  margin-left: 100px;
}

.feature-list-item {
  margin-bottom: 10px;
}

.list-dot {
  font-size: x-small;
}

.image-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.time {
  height: 60vh;
  width: 50vw;
}
