.reason-block {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.image-teacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.teacher {
  height: 70vh;
  width: 50vw;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40vw;
}

#big-orange-btn {
  height: 60px;
  width: 200px;
  font-size: 20px;
  margin-bottom: 40px;
  border-radius: 30px;
}
