#content-box {
  padding: 30px 100px;
}

.content-image {
  position: relative;
  height: 50vh;
  width: 100%;
  background-color: turquoise;
}

.content-description {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.course-content {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  #content-box {
    padding: 30px 30px;
  }
}
