.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f8f8ff;
  background-color: #4a40b1;
  top: 0;
  left: 16%;
  position: fixed;
  padding-left: 20px;
  height: 70px;
  width: 84%;
  z-index: 1;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .header {
    left: 18%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    left: 0;
    font-size: 25px;
    flex-direction: row;
    justify-content: left;
    padding: 20px 0 10px 20px;
  }

  .menu-icon {
    display: inline-flex;
    height: 30px;
    margin-right: 10px;
    background: transparent;
  }
}

@media only screen and (max-width: 300px) {
  .header {
    font-size: 20px;
    padding-left: 15px;
  }

  .menu-icon {
    margin-right: 5px;
  }
}
