.introduction {
  text-align: center;
  width: 60%;
  height: 30vh;
  margin: 0 auto 27px auto;
}

.image-learn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.learn {
  height: 60vh;
  width: 65%;
}
