.introduction {
  text-align: center;
  width: 60%;
  height: 30vh;
  margin: 0 auto 25px auto;
  padding: 20px;
}

.image-learn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.learn {
  height: 60vh;
  width: 65%;
  margin: 0;
}

.btn {
  margin: 0 auto;
}
