.reason-block {
  display: inline-flex;
  padding: 20px;
}

.image-teacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.teacher {
  height: 70vh;
  width: 50vw;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40vw;
}
