.users-block {
  display: inline-flex;
  padding-left: 60px;
}

.user-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40vw;
  margin-left: 30p;
}

.image-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.test {
  height: 60vh;
  width: 50vw;
}

.btn {
  color: #4a40b1;
}
