.login-container {
  display: inline-flex;
}

.login {
  margin-left: 60px;
  height: 60vh;
  width: 50vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.login-head {
  margin-bottom: 20px;
}

.input {
  margin: 5px;
}
